<?xml version="1.0" encoding="UTF-8"?>
<Menu   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="Menu.xsd"
        precio="12,80€" 
        id="ME004">
    <Categoria nombre="Entrantes">
        <Producto id="TP012"/>
        <Producto id="ES103"/>
    </Categoria>
    <Categoria nombre="Primeros">
        <Producto id="PA032"/>
        <Producto id="ES131"/>        
    </Categoria>
    <Categoria nombre="Segundos">
        <Producto id="CR034"/>
        <Producto id="PS521"/>        
    </Categoria>
    <Categoria nombre="Postres">
        <Producto id="DS103"/>
        <Producto id="DS045"/>        
    </Categoria>
    <Categoria nombre="Bebidas">
        <Producto id="BE013"/>
        <Producto id="VB001"/>        
    </Categoria>
</Menu>
